.bg-customPrimary {
  background-color: $custom-primary;
}
.bg-customSecondary {
  background-color: $custom-secondary;
}
.bg-customSuccess {
  background-color: $custom-success;
}
.bg-customInfo {
  background-color: $custom-info;
}
.bg-customWarning {
  background-color: $custom-warning;
}
.bg-customDanger {
  background-color: $custom-danger;
}