.text-customPrimary {
  color: $custom-primary;
}
.text-customSecondary {
  color: $custom-secondary;
}
.text-customSuccess {
  color: $custom-success;
}
.text-customInfo {
  color: $custom-info;
}
.text-customWarning {
  color: $custom-warning;
}
.text-customDanger {
  color: $custom-danger;
}
